<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
    <bean id="MyXML" class="com.example.SpringDependencyInjection.consumer.MyApplicationXML">
        <constructor-arg>
            <bean class="com.example.SpringDependencyInjection.services.TwitterService"/>
        </constructor-arg>
    </bean>

-->

<!--
    <bean id="twitter" class="com.example.SpringDependencyInjection.services.TwitterService"></bean>
    <bean id="MyXMLApp" class="com.example.SpringDependencyInjection.consumer.MyApplicationXML">
        <property name="messageService" ref="twitter"></property>
    </bean>

-->
</beans>