<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC-HelloWorld:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_HelloWorld_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC-HelloWorld/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC-HelloWorld" />
        </element>
      </element>
    </root>
  </artifact>
</component>